
body {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 3rem;
}

section {
    padding-left: 1rem;
    padding-right: 1rem;
}

pre {
    padding: 0.5rem;
    border: 1px solid lightgray;
    overflow: auto;
}

textarea, pre {
    font-family: monospace;
}

textarea, .CodeMirror {
    resize: both;
    border: 1px solid lightgray;
}

button {
    font-size: 1.2rem;
    font-family: fantasy;
}

h2, h4 {
    font-family: monospace;
}

a.exit {
    background: url('exit.png') no-repeat 100% 0;
    background-size: 12px 12px;
    padding-right: 14px;
    font-size: 12px;
}

.note {
    font-size: 12px;
}